name: Cleanup Cache

on:
  schedule:
    - cron: "0 0 * * 0" # Setiap minggu
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup GitHub Actions Cache
        uses: actions/github-script@v6
        with:
          script: |
            const caches = await github.rest.actions.getActionsCacheList({
              owner: context.repo.owner,
              repo: context.repo.repo,
            });

            for (const cache of caches.data.actions_caches) {
              if (cache.ref !== `refs/heads/${context.ref}`) {
                await github.rest.actions.deleteActionsCacheById({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  cache_id: cache.id,
                });
              }
            }
